:root{
    --white: #fff;
    --off-white: #faebd7;
    --green:#6fa996;
}

* {
    margin: 0;
    padding: 0;
    font-family: arial, 'trebuchet MS', 'gill sans', tahoma;
}

/*sätter bakgrundsfärg på hemsidan, bredd etc*/
body{
    background-color: var(--green);
    width: 100%;
    overflow: hidden;
    height: 100vh;
    position: relative;
}

/*justerar bredd och centrerar blocket (top, left, transform)*/
.wrapper{
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

/*justerar rubriken (syns ovanför formuläret)*/
.wrapper h2{
    color: var(--white);
    text-align: center;
    margin-bottom: 15px;
}

.settings{
    display: inline-block;
    box-sizing: border-box;
    background-color: var(--off-white);
    padding: 30px;
    border-radius: 8px;
    width: 100%;
}

.settings__label{
    box-sizing: border-box;
    float: left;
    width: 50%;
    margin-bottom: 5%;
}

input[type=text]{
    box-sizing: border-box;
    width: 50%;
    float: right;
    margin-bottom: 5%;
}

input[type=checkbox]{
    float: left;
    margin-bottom: 5%;
}

button{
    float: right;
    box-sizing: border-box;
    margin: 10% 0% 0% 0%;
    padding: 5px 15px;
    text-align: center;
    border: 2px solid var(--green);
    border-radius: 5px;
    transition: .5s;
}

button:hover{
    background-color: var(--green);
    color: var(--off-white);
    transition: .5s;
}

label{
    float: left;
    width: 50%;
}

button{
    margin: 10% 0%;
    padding: 5px;
}

.changingDiv{
    position: absolute;
    width: 80%;
    height: 30px;
    bottom: 5%;
    left: 10%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    overflow: auto;
}