:root{
    --black:#000000;
    --plum:plum;
    --pink: rgb(194, 76, 176);
}

* {
    margin: 0;
    padding: 0;
    font-family: arial, 'trebuchet MS', tahoma;
}

/*sätter bakgrundsfärg på hemsidan, bredd etc*/
body{
    background-color: var(--black);
    width: 100%;
    overflow: hidden;
    height: 100vh;
    position: relative;
}

/*justerar bredd och centrerar blocket (top, left, transform)*/
.wrapper{
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

/*justerar rubriken (syns ovanför formuläret)*/
.wrapper h2{
    color: var(--plum);
    text-align: center;
    margin-bottom: 15px;
    box-shadow: 0 0 5px rgb(194, 76, 176), 
    0 0 5px rgba(194, 76, 176),
    0 0 5px rgba(194, 76, 176);
    font-size: 100px;
    letter-spacing:  15px;
    text-shadow: 0 0 0 transparent,
    0 0 10px var(--pink),
    0 0 20px rgba(255,0, 60, 0.5),
    0 0 40px var(--pink),
    0 0 100px var(--pink),
    0 0 200px var(--pink),
    0 0 300px var(--pink),
    0 0 400px var(--pink),
    0 0 500px var(--pink),
    0 0 1000px var(--pink);
 animation: animate 3s infinite alternate;
}
@keyframes animate{
    40% {
        opacity: 1;
    }
    42% {
        opacity: 0.8;
    }
    43% {
        opacity: 1;
    }
    45% {
        opacity: 0.3;
    }
    40% {
        opacity: 1;
    }
     
    

}

.settings{
    display: inline-block;
    box-sizing: border-box;
    background-color: var(--plum);
    padding: 30px;
    border-radius: 8px;
    width: 100%;
    box-shadow: 0 0 5px rgb(194, 76, 176), 
    0 0 5px rgba(194, 76, 176),
    0 0 5px rgba(194, 76, 176),
    0 0 5px rgba(194, 76, 176),
    0 0 5px rgba(194, 76, 176);
   
}

.settings__label{
    box-sizing: border-box;
    float: left;
    width: 50%;
    margin-bottom: 5%;
}

input[type=text]{
    box-sizing: border-box;
    width: 50%;
    float: right;
    margin-bottom: 5%;
}

input[type=checkbox]{
    float: left;
    margin-bottom: 5%;
}

button{
    float: right;
    box-sizing: border-box;
    margin: 10% 0% 0% 0%;
    padding: 5px 15px;
    text-align: center;
    border: 2px solid var(--pink);
    border-radius: 5px;
    transition: .5s;
   box-shadow: rgb(194, 78, 180);
}



button:hover{
    background-color: var(--black);
    color: var(--plum);
    transition: .5s;
    box-shadow: 0 0 5px rgb(194, 76, 176),
     0 0 5px rgb(194, 76, 176),
     0 0 5px rgb(194, 76, 176);
}

label{
    float: left;
    width: 50%;
}

button{
    margin: 10% 0%;
    padding: 5px;
}

.changingDiv{
    position: absolute;
    box-sizing: border-box;
    width: 80%;
    height: 30px;
    bottom: 5%;
    left: 10%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}